<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/utilities.css" />
</head>

<body>
    <div class="parent">
        <div class="details">
            <p class="candidateName textEffects">
                Martijn Gerard Garritsen | Male
            </p>
            <hr />
            <p class="textEffects netWorth">Net Worth: $19.5 million</p>
            <ul class="detailsText">
                <li class="textEffects">
                    Amsterdam, Netherlands
                </li>
                <li class="textEffects">CEO at
                    <a href="https://stmpdrcrds.com/" target="_blank" class="stmpdLink">STMPD RCRDS</a>
                </li>
                <li class="textEffects">
                    27 Years(14 May 1994)
                </li>
                <li class="textEffects">
                    martingarrix@gmail.com
                </li>
                <li class="textEffects">
                    Mother Tongue: Dutch
                </li>
                <li class="textEffects">
                    Religion: Christianity
                </li>

                <li class="textEffects">Qualification:</li>
                <ul class="nestedQualif">
                    <li>
                        Martin Garrix holds a Bachelor's degree in Music Production and Composition, showcasing his
                        dedication to his craft and formal education in the field.
                    </li>
                    <hr>
                    <li>
                        With numerous awards and accolades, Martin Garrix is globally recognized for his exceptional
                        talent and contributions to the music industry.
                    </li>
                    <hr>
                    <li>
                        Beyond music, Martin Garrix is actively involved in philanthropic endeavors, reflecting his
                        commitment to making a positive impact on communities worldwide.
                    </li>
                </ul>
            </ul>
        </div>
        <div class="pfp">
            <img src="images/picture.jpg" alt="Candidate Picture" />
        </div>
    </div>
</body>

</html>