<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insert Data</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="nav">
        <a href="/">Home</a>
        <a href="/insert">Insert</a>
        <a href="/delete">Delete</a>
    </div>
    <h1>Add New Teacher</h1>
    <div class="insertForm">
        <form method="POST">
            <input type="number" name="tid" id="tid" placeholder="Enter Teacher ID"><br>
            <input type="text" name="tname" id="tname" placeholder="Enter Teacher Name"><br>
            <input type="text" name="qualification" id="qualification" placeholder="Enter Qualification"><br>
            <input type="number" name="tsalary" id="tsalary" placeholder="Enter Salary"><br>
            <input type="text" name="department" id="department" placeholder="Enter Department"><br>
            <input type="text" name="experience" id="experience" placeholder="Enter Experience"><br>
            <input class="insertSubmit" type="submit" value="Submit">
        </form>
    </div>
</body>

</html>